* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url(./img/Tela\ Inicialc.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: 25px;
    overflow-x: hidden;
}

.logo{
    width: 200px;
}

header {
    display: flex;
    width: 100vw;
    height: 15vh;
    align-items: end;
    
}

main {
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

main p {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 0px, 18px;
}

.titulo {
    font-size: 35px;
    font-weight: 500;
    margin-right: 50px;
    width: 65%;
}

.descricao {
    font-size: 15px;
    font-weight: 400;
    margin-right: 35px;
}

.botao {
    display: flex;
    background-color: white;
    width: 280px;
    height: 44px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
}


.container h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 45px;
    width: 60%;
    margin-top: 40px;
}

.container p {
    margin-bottom: 10px;
    width: 80%;
    width: 300px;
}

.cadastro {
    height: 90px;
    margin-bottom: 50px;
    flex-grow: 1;
    align-items: center;
    margin-top: 15px;
}

.dois {
    margin-top: 15px;
}

h4{
    color: white;
    margin-left: 190px;
    font-size: 20px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

h3{
    color: rgb(255, 255, 255);
    margin-left: 50px ;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em black;
}

h2{
    margin-left: 80px;
    text-shadow: 0 0 0.2em rgb(7, 7, 7), 0 0 0.2em rgb(255, 254, 255),
        0 0 0.2em rgb(255, 255, 255);
    
}